.cart-background {
  width: 100%;
  margin: auto;
  background-color: #c2d3de;
  padding: 30px;
}

.cart-box {
  width: 80%;
  max-width: 700px;
  margin: auto;
}

.cart-table {
  width: 100%;
  max-width: 700px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
}

.cart-table th:nth-child(2) {
  width: 400px;
}

td,
th {
  /* border: 1px solid black; */
}

.cart-table td,
.cart-table th {
  padding: 15px;
  border-bottom: 1px solid #c2d3de;
}

.submit-button {
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: coral;
  color: white;
  cursor: pointer;
}

.submit-button:hover {
  background-color: chocolate;
}

.submit-button:focus {
  background-color: gray;
}

.submit-button:active {
  background-color: brown;
  border: 2px solid black;
}

.input-text:focus {
  border: 2px solid red;
}

.custom-link {
  text-decoration: none;
}

.custom-link:link {
  color: skyblue;
}

.custom-link:visited {
  color: black;
}
